.menu-title {
  font-family: "Cormorant Upright", serif;
}
.nav-link.customLink {
  color: white;
  &:hover {
    color: grey;
  }
}

.custom-text {
  color: #dcca87;
}

@media (min-width: 1200px) {
  .custom-text {
    font-size: 4rem !important;
  }
}

.custom-btn {
  background: #dcca87;
  color: black;
  border: none;
  font-weight: 700;
  max-width: 5rem;
  padding: 10px;
  border-radius: 10px;
}
.bg {
  background-image: url("../assets/bg.png");
}

.bg-brown {
  background-image: url("../assets/bg-brown.png");
}
.white-line {
  width: 10%;
  height: 1px;
  background-color: white;
}

.golden-text {
  color: #dcca87;
}
